In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
df = sns.load_dataset('iris')

In [12]:
df.head(
)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# ek extra column bna lenge jisme encoded  value rhega jaise [ 0 , 1 , 2 ] for each species
 
df['species_encoded'] = le.fit_transform(df['species'])



# ab df mein dono columns add h,kisi ko delete karne ki jrurat nhi

df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,species_encoded
0,5.1,3.5,1.4,0.2,setosa,0
1,4.9,3.0,1.4,0.2,setosa,0
2,4.7,3.2,1.3,0.2,setosa,0
3,4.6,3.1,1.5,0.2,setosa,0
4,5.0,3.6,1.4,0.2,setosa,0

In [22]:
from sklearn.model_selection import train_test_split


# yha par remove kar denge columns aur target column encoded wale ko select kar lenge

x_train,x_test,y_train,y_test = train_test_split(df.drop(['species','species_encoded'],axis=1),df['species_encoded'],test_size=0.2,random_state=42)

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr = LogisticRegression(multi_class='multinomial' ,solver='lbfgs',max_iter=200)
model = lr.fit(x_train,y_train)
result =model.predict(x_test)
acc= accuracy_score(y_test,result)
acc

c:\Users\asus\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

1.0